@charset "UTF-8";
* {font-family: Arial, Helvetica, sans-serif;}


body{
    background-image: linear-gradient(to right,#0B548F ,#077CDB );
    

}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    width: 600px;
    padding: 10px;
    margin: auto;

}
p{ text-align: justify;}
h1{
    box-shadow:5px 5px 15px ;
    color: #DB1D20;
    text-align: center;
}
h2{color: #DB1D20;}