@charset "UTF-8";


        body {
            background-color: rgb(16, 130, 224);
            font-family: serif;
            font-size:large ;
        }
        h1 {
            text-align: center;
            font-size: large;
            color:rgb(255, 255, 255) ;          
            
        }
        p{
            color: white;
            text-align: center;
        }
        a {
            color: black;
        }
    h2{
        color: white;
    }
